*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebe3cd;
}
.logo{
    font-size: 10px;
    color: aliceblue;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.navbar{
    border-radius: 30px;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    padding: 20px 20px;
}
.btn{
    color: #6bb99c;
}
.text-1{
    margin: 60px;
    font-size: x-large;
    padding-top: 20px;
    gap: 50px;
}
.bt-2{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    /* margin: 50px; */
    background-color: red;
    color: white;
    
}
.photo{
    position: relative;
}


.lamp{
    position: absolute;
    right: 300px;
    margin-top: -403px;
}
.win-1{
    position: absolute;
    right: 20px;
    margin-top: -200px;
}
.win-2{
    position: absolute;
     right: 500px;
     margin-top: -200px;
}
.All-3{
    position: absolute;
    left: 350px;
    margin-top: -100px;

}
.plant{
    position: absolute;
    left: 350px;
    bottom: -350px;
}
.bok-1{
    position: absolute;
    left: 40px;
    bottom: -210px;
    font-family: "Playfair Display";
}
.Box{
    /* bottom: 100px; */
    /* margin-bottom: 200px; */
    padding: 450px;
    display: flex;
    padding-left: 50px;
    /* border: 1px solid black; */
    /* border-color: blue; */
    /* background-color:white; */
    /* height: 10%; */
    /* width: 100%; */


    /* justify-content: space-between; */
    
}
.box-1{
    /* bottom: -100px; */
    /* background-color: palevioletred; */
    /* height: 20px; */
    /* width: 50px; */
    
}
.date-01{
    display: flex;
}
select{
    border: none;
    background-color: transparent;
}
.date-03{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(216, 192, 155);
    height: 70px;
    width: 209px;
    padding: 20px;
}
input{
    background-color: transparent;
    border: none;
}
.time-01{
    display: flex;
}
.time-03{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(216, 192, 155);
    height: 70px;
    width: 205px;
    padding: 20px;
}
.mail-01{
    display: flex;
}
.mail-03{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(216, 192, 155);
    height: 70px;
    width: 209px;
    padding: 20px;
    
}
 button.check-01{
    width: 200px;
    height: 70px;
    border-radius: 28px;
    background-color: #6bb99c;
    color: bisque;
     margin: 0 auto; 
     padding: 30px;
    gap: 30px; 
     
}
.last{
    color: white;
}
.lastbox{
    gap: 30px;
}






.b-1{
    /* height: 300px; */
    /* width: 300px; */
}
.page-2{
    /* bottom: 100px; */
    /* margin: 400px; */
}
.page-2 h4{
    /* color: rgb(255, 115, 0); */
    /* text-align: center; */
    
}
.page-2 h2{
    /* color: black; */
    /* text-align: center; */
    
}

.photo-2 {
    /* left: 20px; */
    /* display: flex; */
    justify-content: space-between;
    /* width: 100%; */
    /* background-color: white; */
    /* border-radius: 40px; */
    /* gap: 200px; */
    /* text-align: center; */
    /* font-size: 15px; */
    /* margin-top: 30px; */
    

}

.pc-1 {
    /* background-color: #faf8ef; */
    /* border: 1px solid #ffffff; */
    /* border-radius: 30px; */
    /* width:650px; */
    /* height: 300px; */
    /* padding-top: 10px; */
    
    
}
.pc-2 {
    /* background-color: #faf8ef; */
    /* border: 1px solid #ffffff; */
    /* border-radius: 30px; */
    /* width: 650px; */
    /* height: 300px; */
    /* padding-top: 10px; */
}
.pc-3{
    /* background-color: #faf8ef; */
    /* border: 1px solid #ffffff; */
    /* border-radius: 30px; */
    /* width: 650px; */
    /* height: 300px; */
    /* padding-top: 10px; */
}
.pc-1 img{
    
   /* height: 110px; */
   /* width: 110x; */
}
.pc-2 img{
    /* height: 110px; */
   /* width: 110px; */
}
.pc-3 img{
    /* height: 110px; */
   /* width: 110px; */
}
.photo-2 button{
    /* background-color: rgb(255, 123, 0); */
    /* color: antiquewhite; */
    /* height: 40px; */
    /* width: 100px; */
    /* border-radius: 20px; */
}
.page-3 {
    /* text-align: center; */
}
.page-3 h3{
    /* color: rgb(5, 177, 177); */
    /* font-size: 25px; */
}
.page-3 button{
    /* color: #ffffff; */
    /* background-color: rgb(5, 177, 177); */
    /* height: 50px; */
    /* width: 130px; */
    /* border-radius: 30px; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-size: 20px; */

}
.photo-3{
    /* position: relative; */
}
.group{
    /* position: absolute; */
    /* right: 350px; */
    /* padding: 40px; */
}
.pic-2{
    /* position: absolute; */
    /* right: -40px; */
    /* top: -200px; */
}
.pic-3{
    /* position: absolute; */
    /* left: -50px; */
    /* top: -200px; */
}
.pic-4{
    /* position: absolute; */
    /* right: 51px; */
    /* bottom: -442px; */
}
.pic-5{
    /* position: absolute; */
    /* left: 35px; */
    /* bottom: -439px; */
} 