*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../../../../backImage.sushi.png);
    height: 700px;
    width: 100%;
}
.logo{
    height: 20px;
    width: 20px;
    left: 5px;
    padding: 8px;

}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
ul li{
   list-style: none; 
}
ul li a{
    text-decoration: none;
    color: white;
    
}
.navbar{
    background-color: rgb(5, 5, 70);
    padding: 13px;
    align-items: center;
    font-size: 20px;
}
.search img{
    margin-left: 1250px;
    margin-top:  -50px;

}
.t-1{
    color: white;
    margin: 70px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-bt{
    background-color: rgb(3, 3, 56);
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;
}

.page-2{
    background-color: rgb(6, 6, 122);
     padding: 120px;
    color: white;
    text-align: center;
    font-size: 25px;
    overflow: hidden;
    
}
.image{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.pics{
    position:relative ;
}
.pic-1{
    position: absolute;
    left: -1304px;
    bottom: -122px;
}
.crep-1{
    position: absolute;
    left: -1125px;
    top: -80px;

}
.crep-2{
    position: absolute;
    right: -111px;
    bottom: -57px;
}
.col-1{
    position: absolute;
    right: -146px;
    bottom: 75px;
}
.row-1{
    position: absolute;
    left: -919px;
    top: -300px;
}
.pic-6{
    position: absolute;
    right: -200px;
    top: -300px;
}
.page-3{
    display: flex;
    background-color: navajowhite;
    color: rgb(3,3,56);
    /* justify-content: space-between; */
    /* padding: -50px; */
    
    
    
}
.heding-3 img{
    
    /* height: 450px; */
    /* width: 450px; */
    /* margin: 180px; */
    margin: 100px auto;
    margin-left: 100px;
    z-index: 1;
    
    
    
    /* color: rgb(3,3,56); */
    
    /* justify-content: space-between; */
}
.text{
    right: 400px;
    margin: auto 0;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 70px;

    /* margin-right: 500px; */
    /* padding: 300px; */
    /* padding-left: 5px; */
    
    /* margin: 5px; */
    /* margin-left: 150px; */
    /* margin-top: -84px; */
    
    
    

    
}
.text h1{
    /* font-size: 25px; */
    
}
.text p{
    /* font-size: 15px; */
}
.second-bt{
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;

}
.photo{
    position: relative;
    
    
}
.p-1{
    position: absolute;
    top: 36px;
    left: -1190px;
    z-index: 2;
    

}
.p-2{
    position: absolute;
    bottom: 50px;
    right: 10px;
}
.p-3{
    position: absolute;
    right: 448px;
    top: 160px;

}
.p-4{
    position: absolute;
    left: -1216px;
    bottom: 84px;
}
.page-4{
    background-color: rgb(5, 5, 70);
    color: white;
    padding: 85px;
    overflow: hidden;
    
    
    /* padding: 100px; */
}
.round-4{
    text-align: center;
    font-size: x-large;
}
.main-box{
    margin: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.box-1{
    border: 4px solid white;
    border-radius: 160px;
    height: 180px;
    width: 180px;
    font-size: 30px;
    padding: 20px;
}
.box-2{
    border: 4px solid white;
    border-radius: 160px;
    height: 180px;
    width: 180px;
    font-size: 30px;
    padding: 20px;
}
.box-3{
    border: 4px solid white;
    border-radius: 160px;
    height: 180px;
    width: 180px;
    font-size: 30px;
    padding: 20px;

}
.rdpage{
    position: relative;
    

}
.rd-1{
    position: absolute;
    top: -486px;
    right: 102px;
}
.rd-2{
   position: absolute;
   right: 15px;
   bottom: 53px;

}
.rd-3{
    position: absolute;
    top: -367px;
    left: 55px;
}
.rd-4{
    position: absolute;
    top: -531px;
    left: 136px;
}
.rd-5{
    position: absolute;
    right: 355px;
    bottom: -6px;
}
.rd-6{
   position: absolute;
   right: 777px;
   bottom: -132px;
}
.page-5{

    background-color: navajowhite;
    display: flex;
    color: rgb(3, 3, 56);
    padding: 60px;
    

    
    
}
.mithai{
    margin-left: 300px;
}
.text-5{
    left: 500px;
    margin: auto 0;
    
    
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.btn-5{
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;
}
.blue{
    position: relative;
}
.blue-1{
    position: absolute;
    left: -711px;
    bottom: -17px;
    
}
.blue-2{
    position: absolute;
    right: -49px;
    top: -40px;
}
.blue-3{
    position: absolute;
    left: -1033px;
    top: 34px;
}
.blue-4{
    position: absolute;
    right: -71px;
    bottom: -36px;
}
.blue-5{
    position: absolute;
    left: -677px;
    top: -34px;
}
.page-6{
    background: url(../../../../bagraound-page6.png);
    margin:  -245px auto;
    overflow: hidden;
    margin: 0px;

    
}
.girlpic{
    text-align: center;
    margin: 100px;
}
.text-6{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;

}
.page-7{
    background-color: navajowhite;
    color: rgb(3, 3, 56);
    text-align: center;
    padding: 250px;

}
.text-7{
    font-size: xx-large;
}
.longbt-7{
    height: 50px;
    width: 300px;
    border-radius:  30px;
    
}
.btn-7{
    height: 45px;
    width: 150px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin: -35px;
}
.lastph{
    position: relative;
}
.last-1{
    position: absolute;
    right: -234px;
    top: -429px;
}
.last-2{
    position: absolute;
    left: 355px;
    bottom: -240px;
}
.last-3{
    position: absolute;
    right: -164px;
    bottom: -97px;
}
.last-4{
    position: absolute;
    left: -104px;
    top: -419px;
}
.last-5{
    position: absolute;
    left: 15px;
    bottom: -90px;
}
.last-6{
    position: absolute;
    right: 135px;
    top: -268px;
}
.page-8{
    padding: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}
.tital{
    font-size: x-large;
}
.tital-1{
    font-size: x-large;
}
.tital-2{
    font-size: x-large;
}
.tital-3{
    font-size: x-large;
}
.page-8 i{
    height: 40px;
    width: 40px;
    font-size: xx-large;
}






