*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 90%;

}
nav{
    display: flex;
    align-items: center;
    gap: 10px;
    /* position: relative; */
}
.logo{
    /* padding: 30px 100px;/ */
    padding: 48px 35px;
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    list-style: none;
    display: flex;

}
.login{
    margin-left: 80px;
    color: #354148;
    gap: 10px;
}
.btn-1{
    /* position: absolute; */
    width: 150px;
    height: 47px;
    border: none;
    background: #ECE6FF;
    border-radius: 4px;
    color: #35414B;
    right: 20px;


    
}
/* nav end here */


/* contener-1 start here */
.save{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}
.btn-2{
    border: none;
    background: #81C43B;
    border-radius: 100px;
    margin-left: 100px;
    text-align: center;
    padding: 10px 20px;

}
.btn-3 {
    background: #F2F9EB;
    border-radius: 0px 100px 100px 0px;
    border: none;
    padding: 10px 30px;

}
.text-1{
    font-size: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #35414B;
    width: 55%;
    margin: 0 auto;
}
.para-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4E5A65;
    width: 40%;
    margin: 0 auto;
}
.text-2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;

}
.btn-4 {
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    background: #794CFF;
    border: 1px solid #794CFF;
    border-radius: 0px 4px 4px 0px;
}
.image{
    width: 850px;
    height: 650.29px;
    margin-left: 13.203rem;
}
.para-2{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #4E5A65;

}
.text-3>img{
    padding: 15px;
    margin-left: 90px;

}
/* conetrner-1 close here */

/* contener-2 start here */
.container-2{
    box-sizing: border-box;
    background-color:  #e3e0eb;
    border: 1px solid #F0EBFA;
    width: 100%;
    display: flex;
    margin-left: 59.202px;


}
.image-1{
    width: 500px;
    height: 500px;
    padding: 50px;
}
.box-1{
    margin-top: 0.203rem;
    margin-left:100px;
    box-sizing: border-box;
    width: 372px;
    height: 100px;
    left: 92px;
    top: 1591px;
    color: #35414B;
    border: 1px solid #F6F3FC ;
    border-radius: 0px 8px 8px 0px;
    background: #F6F3FC;
};
    

}
.para-4{
    width: 153px;
    height: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #35414B;
    background: #F6F3FC;


}
.line-blue{
    width: 8px;
    height: 100px;
   margin-left: 93px;
   
    padding-top: 20px;
    /* background: #794CFF */


    
}
.para-5{
    margin-top: 10px;
    width: 308px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
    background: #F6F3FC;
}
.box-2{
    margin-left: 100px;
    box-sizing: border-box;
    /* width: 372px; */
    height: 100px;
    border: 1px solid #F6F3FC;
    border-radius: 0px 8px 8px 0px;
}
.para-6{
    width: 253px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #35414B;

}
.para-7{
    width: 308px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
}

/* contener-2 close here */

/* contener-3 start here */


.container-3{
    margin-top: 80px;
    background: #F2F9EB;
    width: 100%;
    margin-left: 4.203rem;
    

}
.para-8{
   /* width: 436px; */
   /* height: 40px; */
   font-weight: 800;
   text-align: center;
   color: #35414B;
   /* margin: 0 auto; */
   line-height: 40px;


}
.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 60px;
}
.photo img{
    margin-top: 50px;


}
.para-9{
    width: 213px;
    height: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #35414B;
}
.para-10{
    width: 360px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;

}
/* contenar-4 start here */
.container-4{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    background-color:  #e3e0eb;
    width: 100%;
    margin-left: 4.203rem;
}
.text-4{
    color: #35414B;
    margin-top: 6.203rem;
    /* margin-left: 2.20rem; */
    
    
}
.page-4{
    /* line-height: 18px; */
    color: #4E5A65;
    width: 360px;
    height: 48px;
    
}
.btn-purpul{
    color: #FFFFFF;
    background: #794CFF;
    width: 160px;
    height: 50px;
}
.img-4{
    width: 571px;
    height: 500px;
    margin-top: 3.203rem;
}
/* contener-4 close here */

/* contener-5 start here */

.para-11{
    width: 394px;
    height: 96px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    color: #35414B;
    margin-top: 50px;

}
.para-12{
    width: 543px;
    height: 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 10px auto;
    color: #4E5A65;

}
.ppl-3{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 90px;
}
.e5{
    /* position: absolute; */
    width: 48px;
    height: 48px;
    left: 532px;
    /* top: 2551px; */
    /* background: url(.png); */

}
.e6{
    width: 48px;
    height: 48px;
    left: 532px;
}
.e7{
    width: 48px;
    height: 48px;
    left: 532px;
}
.text-5{
    display: flex;
    justify-content: space-evenly;
    margin-left: 17.203rem;
    margin-top: -2.797rem;
    gap: 69px;
}

.N2{
  width: 129px;
  height: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #4E5A65;
}
.N1{
  width: 163px;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4E5A65;
}

/* contener-6 start here */
.container-6{
    margin-left: 7.2030rem;
}

.box{
    width: 1006px;
    height: 224px;
    background: #796EFF;
    border-radius: 16px;
    margin: 50px auto;
}
.box-text{
    width: 423px;
    height: 96px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    background: #796EFF;
    padding: 45px 29px;
    margin-left: 4.203rem;
}
.pic-1{
    position: absolute;
    right: 14%;
}
.pic-2{
    position: absolute;
    right: 30%;
}

/* contener-6 close here */

/* footer start here */
footer{
    background: #1D2830;
    display: flex;
    color: white;
    height: 400px;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.ft li{
    list-style: none;
    padding: 7px;
    align-items: center;
}
.i-1{
    padding: 7px;
}








/* here strat mediaQuery ------*/




























@media (max-width: 1200px){
   header{
    width: 100%;
   }
    .logo{
        font-weight: 100;
    }
    .menu-1{

        display: flex;
        font-weight:50 ;

    }
    .menu>li{
        display: flex;
      margin-left: 3.203rem;
      font-weight: 300;
      font-size: 20px;
      

    }  
    .login{
        /* font-size: 20px; */

    }  
    .login {
        margin-left: -163px;
    }
    
    .btn-1{
        /* position: absolute; */
        width: 12%;
        height: 3.307rem;
        margin-left: 1.203rem;
        border: none;
        /* background: #ECE6FF; */
        border-radius: 4px;
        /* color: #35414B; */
        right: 20px;
        /* padding: 18px, 16px; */
    
    }
    .text-1{
        /* font-size: normal; */
        font-weight: 100;
        font-size: 36px;
        line-height: 30px;
        text-align: center;
        color: #35414B;
        /* width: 30%; */
        margin: 0 auto;
    }
    .para-1{
        font-size: 18px;
    }
    .btn-2{
        /* border: none; */
        background: #81C43B;
        border-radius: 50px;
        margin-left: 30px;
        text-align: center;
        /* padding: 10px 20px; */
    
    }
    .btn-3 {
        /* background: #F2F9EB; */
        /* border-radius: 0px 100px 100px 0px; */
        /* border: none; */
        /* padding: 10px 30px; */
    }
    .image{
        /* width: 700px; */
        height: 650.29px;
        margin-left: 10.203rem;
    }
    footer{
        width: 108%;
    }
        
}




@media (max-width: 992px){
    nav{
        display: flex;
        width: 100%;
    }
    .container-2{
        width: 105%;
    }
    .container-3{
        width: 105%;
    }
    .container-4{
        width: 105%;
    }
    .para-11{
        margin-left: 45%;
    }
    .para-12{
        margin-left: 35%;
    }
    .pic-1{
        left: 90%;
    }
    .pic-2{
        left: 70%;
    }
    footer{
        width: 120%;
        font-size: 28px;
    }
}














































@media (max-width: 576px){
    .login{
        margin-left: -200px;
        height: 50px;
        width: 50%;
    }
    .btn-1{
        margin-left: 20px;
        width: 30%;
        height: 50px;
    }
    .save{
        text-align: center;
        margin-left:70% ;
        
    }
    .btn-2{
        width: 135%;
        height: 50px;
        font-size: 14px;
        margin-left: 181%;
    }
    .btn-3{
        width: 100%;
        height: 50px;
        margin-left: 135px;
        font-size: 15px;
    }
    .text-1{
        text-align: center;
        margin-left: 76%;
        width: 61%;
    }
    .para-1{
        text-align: center;
        margin-left: 68%;
        width: 83%;
    }
    .mail{
        text-align: center;
        margin-left: 139%;
    }
    .btn-4{
      text-align: center;
    }
    .para-2{
        text-align: center;
        margin-left: 52%;
        width: 102%;
    }

    .text-3>img{
        margin-left: 50%;
        margin-inline: auto 0;
        padding-left: 5%;
    }
   .container-3{
        width: 189%;
    }
    .container-4{
        width: 179%;
    }
    .text-4{
        font-size: 2.205rem;
    }
    .para-11{
        margin-left: 71%;
    }
    .para-12{
        margin-left: 60%;
    }
    .ppl-3{
        

        display: flex;
        justify-content: space-between;
        margin-left: 39%;
        gap: 250px;
    }
    .text-5{
        display: flex;
        justify-content: space-between;
        gap: 50%;
    }
    .pic-1{
        left: 157%;
    }
    .pic-2{
        left: 123%;
    }
    footer{
        width: 230%;
        font-size: 150%;
    }


    
    
    }